@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Durandal Starter Kit</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
        <link rel="stylesheet" href="~/Content/Css/durandal.css"
    </head>
    <body>
        <div id="applicationHost">
            The div where the application should load
        </div>
        
        <script type="text/javascript" src="~/Scripts/require.js" data-main="/App/main"></script>
    </body>
</html>
