<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap -->
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/Css/Perevorot.css" rel="stylesheet" media="screen">

    <title>@ViewBag.Title</title>
    <script type="text/javascript" language="javascript">
        $(document).ajaxStart(function () {
            $("#loading").show();
        }).ajaxStop(function () {
            $("#loading").hide();
        });
    </script>
</head>
<body>
    <div id="content">
        @RenderBody()
    </div>

    WELCOME HOME!
</body>
</html>
