body {
    background-color: #eee;
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
}

#header { background-color: royalblue; }

#sideBar { border: solid 5px black }

.clear { clear: both; }
 

#application-preloader {
    height: 200px;
    width: 100%;
}


/*Login Page Styles*/

#logo_Div {
    float: left;
    position: absolute;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-signin-heading,
.form-signin { margin-bottom: 10px; }

.form-signin { font-weight: normal; }

.form-signin .form-control {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

.form-signin .form-control:focus { z-index: 2; }

.form-signin input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

/*!Login Page Styles*/
.loader {
    position: absolute;
    left: 45%;
    top: 45%;
}

#loading {
    left: 0;
    top: 0;
    z-index: 1000000;
    background: white;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    display: none;  
}

.logoff {
    background-image: url(../images/logout-icon.png);
    background-repeat: no-repeat;
    display:block;
    height:60px;
    width:60px;
    text-indent:-9999px;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}

/*Customer Page Styles*/
.searchIcon {
    margin-left: 0px !important;
    border-left: 0px !important;
}

.dataTables_wrapper th {
    font-size: 14px;
}



/*!Customer Page Styles*/