<section>    
    <table id="membersTable" class="table table-striped table-bordered"
           data-bind='dataTable: {"options": 
                                    {
                                        "bPaginate": true,
                                        "sPaginationType": "full_numbers",
                                        "bLengthChange": false,
                                        "bFilter": true,
                                        "bSort": false,
                                        "bInfo": false,
                                        "bAutoWidth": true
                                    },
                                  "data": membersTable }'>
        <thead>
                  <tr>
                      <th>Name</th>
                      <th>Actions</th>
                  </tr>
              </thead>   
    </table>
</section>