<section>    
    <div id="customerSearchDiv">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <span class="navbar-brand" title="Search for customers">Customer Name:</span>
            </div>

            <div class="col-xs-5 col-sm-9 pull-right">
                <form data-bind="submit: search" class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Harry Potter" data-bind="value: searchedCustomerName, valueUpdate: ['keyup', 'search']" name="searchedCustomerName"/>
                        <div class="input-group-btn">
                            <a type="button" data-bind="click: search" class="btn btn-default searchIcon"><span class="glyphicon glyphicon-search"></span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table id="membersTable" class="table table-striped table-bordered"
           data-bind='dataTable: 
            {
                "options": 
                {
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "../Customer/GetCustomers",
                    "sServerMethod": "POST",
                    "sDom": "<\"top\"i>rt<\"bottom\"lp><\"clear\">",
                    "sPaginationType": "bootstrap",
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "fnServerData": getData,
                    "fnInitComplete": onInitComplete,
                    "aoColumns": [                                  
                        { "sWidth": "45%", "mDataProp": "CustomerName", "sTitle":"Customer Name" },
                        { "sWidth": "20%", "mDataProp": "CreationDate", "sTitle":"Created", "fnRender": dateRenderer },
                        { "sWidth": "15%", "mDataProp": "Calls", "sTitle":"Calls" },
                        { "sWidth": "10%", "mDataProp": "Fields", "sTitle":"Fields" },
                        { "sWidth": "10%", "mDataProp": "Details", "sTitle":"Details",
                          "sClass": "center", "bSortable": false, "fnRender": detailsRenderer },
                    ]
                }
            }'>
    </table>
</section>