<div>   
    <div class="container" >
        <div class="header" >
            <input type="text" data-i18n="[value]shell:logOff"/>
            <div>
            <div data-bind="foreach: languages" class="floatLeft">
                <a href="#" data-bind="text: $data, click: $parent.changeLanguage"></a>&nbsp;
            </div>  
                <a href="#" data-bind="click: logOff" data-i18n="shell:logOff" class="floatRight logoff"></a>
             </div>

        </div>

        <div class="sidebar">
            <ul data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
        </div>

        <div class="page-host" data-bind="router: {transition: 'entrance', cacheViews: false }"></div>

    </div>
    <div class="footer">The Footer</div>
</div>

<style>
    .container {
        width: 80%;
    }

    .header {
        background: black;
        color: white;
        font-weight: bold;
        font-size: 20px;
        height: 100px;
        padding: 5px;
    }

    .sidebar {
        width: 20%;
        float: left;
        color: blue;
    }

    .page-host {
        width: 80%;
        float: left;
        min-height: 500px;
    }

    .footer {
        text-align: center;
        clear: both;
    }
    
</style>